body {
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 76%;
	color: #303030;
	background-color: #f4f4f4;
	background-image: url(images/background.jpg);
	width: 850px;
	margin: 0 auto 0 auto;
	}
	
#container {
	width: 850px;
	margin: 0 auto 0 auto;
	background-color: f4f4f4;
	
}

#pageHeader {
}

#googleheader { 
} 

#topnav {
	width: 850px;
	padding-top: 10px;
	float: left;
	height: 35px;
}

#pageLogo {
	float:left;
	width: 850px;
	height: 100px;
}

#navbar {
	float: left;
	width: 140px;
	margin: 0 0 10px 0;
	padding: 0;
	font-size: 0.9em;
	margin-top: 0px;
	height: 1.5in;
	background-color: f4f4f4;
}
#navbar ul {
	list-style: none;
	width: 130px;
	margin: 0 0 20px 0;
	padding: 0;
	font-size: 1.1em;
}
#navbar ul li {
	margin-bottom: 4px;
}
#navbar ul li a {
	font-weight: bold;
	height: 20px;
	text-decoration: none;
	color: #505050;
	display: block;
	padding: 6px 0 0 10px;
	background: #f4f4f4;
	border-left: 4px solid #cccccc;
}
#navbar ul li a:hover {
	background: #eaeaea;
	color: #286ea0;
	border-left: 4px solid #286ea0;
}
#sidebar {
	float: right;
	vertical-align: top;
	color: #505050;
	text-align: left;
	width: 160px;
	line-height: 1.3em;
	font-size: 0.9em;
	background-color: #f4f4f4;
}
#content {
	margin: 0 5px 0 15px;
	width: 500px;
	border-left: 1px solid #f0f0f0;
	border-right: 1px solid #f0f0f0;
	padding: 0 0 0 10px;
	line-height: 1.6em;
	background-color: #f4f4f4;
	float: left;
	
}

#google_inside_square {
	width:280px;
	height:250px;
	float: right;
	padding-left: 30px;
}
 
a {
	text-decoration: none;
	color: #286ea0;
}
a:hover {
	text-decoration: underline;
	color: #286ea0;
}
a img {
	border: 0;
	margin: 0 20px;
	
}

#footer {
	text-align: center;
	border-top: 1px solid #f0f0f0;
	padding-bottom: 2px;
	float: left;
	width: 800px;
	margin: 0 auto 0 auto;
}	
