body {
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 73%;
  margin: 0;
  padding: 0;
}

html > body {
  font-size: 9pt;
}

a {
  color: #3D5C7A;
  background-color: transparent;
  text-decoration: underline;
  margin: 0;
  padding: 0 1px 2px 1px;
}

a:hover {
  color: white;
  background-color: #3D5C7A;
  text-decoration: none;
}

/* ##### Main Header ##### */
.headerTitle {
  font-size: 170%;
  margin: 0;
  padding: 0;
}

.headerSubTitle {
  font-size: 120%;
  font-weight: normal;
  font-style: italic;
  margin: 0 0 1ex 0;
  padding: 0;
}

.midHeader {
  color: white;
  background-color: #3D5C7A;
  margin: 0;
  padding: 0.26ex 10px;
}

.subHeader {
  color: white;
  background-color: #7590AE;
  margin: 0;
  padding: 0.5ex 10px;
}

.subHeader a, .subHeader .highlight {
  color: white;
  background-color: transparent;
  font-size: 105%;
  font-weight: bold;
  text-decoration: none;
  margin: 0;
  padding: 0 0.25ex 0 0;
}

.subHeader a:hover, .subHeader .highlight {
  color: #FFCC00;
  background-color: transparent;
  text-decoration: none;
}


/* ##### general ##### */

table {
    background-color: #000000;
}

tr, td, td a {
  color: black;
  font-size: 90%;
  text-decoration: none;
  margin: 0;
  background-color: #FFFFFF;
}

th {
  color: white;
  font-size: 90%;
  background-color: #7590AE;
  text-decoration: none;
  text-align: left;
  margin: 0;
  padding: 0 0.25ex 0 0;
}

.black_btn {
	cursor:hand;
	font: normal 11px Arial; color: #FFFFFF;
	background-color: #8899AA;
	width: 150px; height: 18px;
	border: solid 1px #336688;
	border-left-width: 5px; 
}

.comment_text_area {
	font: 11px Arial;
	color: #000000;
	cursor:default;
	width: 500px; height:200px;
	border: solid 1px #000000;
	padding: 1px;
}

/*  #### body #### */

#main-copy h1 {
  color: #7590AE;
  background-color: transparent;
  font-family: "trebuchet ms", verdana, helvetica, arial, sans-serif;
  font-size: 200%;
  margin: 0;
  padding: 0;
}

#main-copy {
  margin: 0;
  padding: 0.5em 10px;
  clear: left;
}

#main-copy p {
  line-height: 1.75em;
  margin: 1em 0 1.5em 0;
  padding: 0;
}

.quarter, .oneThird, .half, .twoThirds, .fullWidth {
  margin: 1em 0;
  float: left;
  border-left: 1px solid #CCCCCC;
}

.quarter {
  width: 21%;
  padding: 0 1.9%;
}

.oneThird {
  width: 50%;
  padding: 0 1.6%;
}

.half {
  text-align: justify;
  width: 60%;
  padding: 0 1.9%;
}

.twoThirds {
  text-align: justify;
  width: 75%;
  padding: 0 1.6%;
}

.fullWidth {
  text-align: justify;
  width: 96%;
  padding: 0 1.2em;
  border-left: none;
}

.filler {  /* use with an empty <p> element to add padding to the end of a text box */
  border: 1px solid white;
}
 
.noBorderOnLeft {
  border-left: none;
}

.dividingBorderAbove {
  border-top: 1px solid #CCCCCC;
}


/*  #### checkbacklink divs #### */
.div_row1 { width:545px; background-color:#FFFFFF; }
.div_row2 { width:545px; background-color:#EEEEEE; }

.div_col1 { float: left; width:270px; height:100%; overflow:hidden; text-overflow:ellipsis; }
.div_col2 { float: left; width:175px; height:100%; }
.div_col3 { float: left; width:50px; height:100%; text-align:center; }
.div_col4 { float: left; width:50px; height:100%; text-align:center; }