a					{background-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; color: #4B6496; text-decoration: none;}
a:hover				{border-bottom-style: dashed; border-bottom-width:1px; text-decoration:none;}				
			
h3					{background-color: #FFFFFF; color: #2C3B59; margin-bottom: 3px; margin-top:20px; text-align: center;}

hr					{background-color: #FFFFFF; color: #2C3B59; margin: 3px;}
		
input				{}			
	.iButton		{width: 50%;}
	.iButtonNav		{width: 100%;}	
	.iText			{background-color: #F8F9FC; color: #2C3B59;}
			
p					{margin: 5px;}
	.pError			{background-color: #C80000; color: #FFFFC0; font-weight: bold; margin: 3px; text-align: center;}
			
table				{font-family: Verdana, Arial; font-size: 10pt;}	
	.tblForm		{margin-top: 25px; width: 80%;}			
	.tblNavigation	{border-width: 0px; width: 100%;}
	.tblPage		{height: 100%; width: 780px;}
	.tblWork		{height: 100%; width: 100%;}
	
td					{border-color: #2C3B59; vertical-align: top; width: 100%;}				
	.tdFieldName	{text-align: right; vertical-align: middle; width: 30%;}
	.tdFieldValue	{text-align: right; vertical-align: middle; width: 70%;}
	.tdFooter		{border-top-style: solid; border-top-width: 1px; font-size: 8pt; text-align: center; width: 780px;}
	.tdFooterInfo	{background-color: #F3F4F7; border-top-style: solid; border-top-width: 1px; color: #2C3B59; font-size: 8pt; text-align: center; vertical-align: middle; width: 780px;}
	.tdNavigation	{font-size: 8pt; padding: 0px; text-align: center; vertical-align: top; width: 160px;}				
	.tdNavMenu		{font-size: 8pt; padding-right: 10px; text-align: right; vertical-align: middle;}
	.tdPageHeader	{border-bottom-style: solid; border-bottom-width: 1px; height: 1%; width: 780px;}				
	.tdWorkSpace	{border-left-style: dashed; border-left-width: 1px; height: 100%; width: 620px;}				

textarea			{background-color: #F8F9FC; color: #2C3B59;}