a 
	{			
		color: #BB1D14;
		font-size: 8pt;
		text-decoration: none;
		border-bottom-style: solid;
		border-bottom-width: 1;
				
	}
			
	a:hover
		{
			text-decoration:none;
			border-bottom-style: dashed;
			border-bottom-width:1;
		}				

body
	{
		background:  url("../images/B0.jpg");
		background-color:#FFFFFF;		
	}
	
div
	{
		margin-left: 5;
		margin-right: 5;
	}
		
	.divCategories
		{
		}

	.divNavigation
		{
		}
		
h1	
	{
		color: #505937;
		font-size: small;
	}	
		
hr
	{
		border: 0;
		border-bottom-color: #BB1D14;
		border-bottom-style: dashed;
		border-bottom-width: 1;
		height: 0;
		margin: 0;
		padding: 0;
		width: 100%;		
	}
p
	{
		margin-left: 10;
		margin-right: 10;
		margin-top: 5;		
	}
	
	.pContent
		{
			margin-bottom: 0;
			margin-top: 0;				
		}
	
table
	{		
		background-color: #FFFFFF;
		border-color: #BB1D14;
		border-style: solid;
		border-width: 1;
		font-family: Verdana, Arial, MS Sans Serif;
		font-size: 10pt;
		margin-left: auto;
		margin-right: auto;
		width: 780;	
		padding: 0;
	}

td
	{
		margin-left: 10;
		margin-right: 10;	
	}
	
	.tdContent
		{
			border-right-color: #BB1D14;
			border-right-style: dashed;
			border-right-width: 1;
			margin-left: 10;
			margin-right: 10;
			vertical-align: top;
			width: 660;			
		}
		
	.tdFooter
		{
			background:  url("../images/H1.jpg");
			color: #FFFFFF;
			font-size: 8pt;
			height: 24;
			text-align: center;
			vertical-align: middle;
		}
		.tdFooter a
			{
				color: #FFFFFF;
				font-weight: normal;
			}
					
	.tdHeader 
		{
			background-color: #FFFFFF;
			background:  url("../images/H0.jpg");
			background-repeat: no-repeat;
			color: #FFFFFF;
			height: 150;
			vertical-align: top;			
		}
				
	.tdRight
		{
			background-color: #FFFFFF;
			padding-left: 10;
			overflow: hidden;
			text-align:	left;
			vertical-align: top;
			width: 140; 			 	
		}
		
	.tdRow
		{
			background:  url("../images/H1.jpg");
			color: #FFFFFF;
			font-size: 8pt;
			height: 24;
			margin: 0;
			text-align: center;
			vertical-align: middle;
		}
		
		.tdRow a
			{
				color: #FFFFFF;
				font-weight: normal;
				margin-Top: 0;
			}

ul
	{
		
		font-size: xx-small;
		list-style-type: disc;
		margin-right: 10;
		text-align: left;
	}